################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAppSandbox/EFExample/bin/Debug/net6.0
