################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebAppSandbox/.vs
/WebAppSandbox/EFExample/bin/Debug/
/WebAppSandbox/EFExample/obj
