################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebAppSandbox/.vs
/WebAppSandbox/EFExample/bin/Debug/
/WebAppSandbox/EFExample/obj
WebAppSandbox Angular/SampleAuth/.vscode/
WebAppSandbox .NET/.vs/WebAppSandbox/config/applicationhost.config
WebAppSandbox .NET/.vs/
WebAppSandbox .NET/EFExample/obj/
WebAppSandbox .NET/AuthExample/obj/
WebAppSandbox .NET/AuthExample/bin/
WebAppSandbox .NET/EFExample/bin/
node_modules
WebAppSandbox .NET/AuthExampleTests/bin/Debug/net6.0/appsettings.Development.json
WebAppSandbox .NET/AuthExampleTests/bin/
WebAppSandbox .NET/AuthExampleTests/obj/
